body{
	background-color: black;
}


#header-nav {
	height: 90px;
	background-color: #123456;
	border: 0px;
    border-radius: 0px;
}

.container{
	margin:0px 0px 0px 0px
}
#logo-img {
	height: 75px;
	width: 80px;
	margin: 10px;	
}

.navbar-brand{
	padding-top: 2.5px;
}

.navbar-brand h1{
	font-size: 1em;
	color: cyan;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 5px 1px 1px black;
	line-height: 1.1;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	font-size: 1.6em;
}
